GOOGLE_API_KEY=YOUR_GOOGLE_API_KEY
LLM_MODEL=gemini-2.5-flash
LLM_TEMPERATURE=0

EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2

CHROMA_DB=database/chroma
COLLECTION_NAME=technical_docs

TOP_K=5