fastapi
uvicorn[standard]

langchain
langgraph
langchain-community
langchain-google-genai

chromadb

sentence-transformers

pypdf
beautifulsoup4
markdown

python-dotenv
pydantic
pydantic-settings

streamlit

requests
python-multipart
colorlog
tqdm

langchain-chroma
langchain-huggingface

lxml